<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>last.fm to Spotify tool | Create playlist</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="../images/favicon.jpeg">
</head>

<body>
    <div class="user-input">
        <form method="POST">
            <h2 id="form-header">Create Spotify playlist</h2>
            <div class="form-input">
                <label for="playlist-name">Playlist name:</label>
                <input type="text" id="playlist-name" name="playlist-name">
                <label for="description">Playlist description:</label>
                <textarea cols="20" rows="3" id="description" name="description"></textarea>
            </div>
            <div class="buttons">
                <input type="submit" value="Create playlist">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>

</html>