<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>last.fm to Spotify tool | Playlist created!</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="../static/favicon.jpeg">
</head>

<body>
    <div class="heading">
        <h2 id="message">Your playlist has been created!</p>  
    </div>
    <div class="playlist">
        <!--replace src with playlist generated-->
        <iframe 
            src={{ value }}
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
        </iframe>
    </div>

    <form method="POST" action="{{ url_for('home_bp.return_home') }}" >
        <div class="buttons">
            <button id="home"><span>Return to homepage</span></button>
        </div>
    </form>
</body>


</html>