<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>last.fm to Spotify tool</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="../static/favicon.jpeg">
</head>

<body>
    <div class="user-input">
        <form method="POST" action="{{ url_for('submit_lastfm') }}">
            <h2 id="form-header">Get data from last.fm</h2>
            <div class="form-input">
                <label for="username">last.fm username:</label>
                <input type="text" id="username" name="username">
                <p>For demo purposes, you can use 'stvn127' (my username)</p>
                <label for="time-period">Time period:</label>
                <select name="time-period" id="time-period">
                    <option value="7day">Last 7 days</option>
                    <option value="1month">Last 30 days</option>
                    <option value="3month">Last 90 days</option>
                    <option value="6month">Last 180 days</option>
                    <option value="12month">Last 365 days</option>
                    <option value="overall">All-time</option>
                </select>
                <label for="tracks">Number of tracks (up to 50):</label>
                <input type="text" id="tracks" name="tracks">
            </div>
            <div class="buttons">
                <input type="submit" name="submit" value="Submit">
                <input type="reset" name="reset" value="Reset">
            </div>
        </form>
    </div>
</body>

</html>